# Visual Studio Code configs
.vscode/
.VSCodeCounter/

# Python packages
.venv
**/*.egg-info/

# Tests
riscv-tests-64*

# Build dirs and files
generate/syscall/linux
**/__pycache__
**/build
**/a.out
**/*.gen.*